[submodule "nostr-rs-relay"]
	path = nostr-rs-relay
	url = https://github.com/RandyMcMillan/nostr-rs-relay.git
[submodule "damus.swift"]
	path = damus.swift
	url = https://github.com/RandyMcMillan/damus.swift.git
[submodule "damus"]
	path = damus
	url = https://github.com/vimux-app/damus.git
[submodule "nostril"]
	path = nostril
	url = https://github.com/RandyMcMillan/nostril.git
[submodule "nips"]
	path = nips
	url = https://github.com/RandyMcMillan/nips.git
[submodule "secp256k1.swift"]
	path = secp256k1.swift
	url = https://github.com/vinux-app/secp256k1.swift.git
[submodule "Twift"]
	path = Twift
	url = https://github.com/vinux-app/Twift.git
[submodule "customTabBarSwift"]
	path = customTabBarSwift
	url = https://github.com/vinux-app/customTabBarSwift.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = git@github.com:vinux-app/SDWebImage.git
