[submodule "nostr-rs-relay"]
	path = nostr-rs-relay
	url = https://github.com/RandyMcMillan/nostr-rs-relay.git
[submodule "damus.swift"]
	path = damus.swift
	url = https://github.com/RandyMcMillan/damus.swift.git
[submodule "damus"]
	path = damus
	url = https://github.com/vimux-app/damus.git
[submodule "nostril"]
	path = nostril
	url = https://github.com/RandyMcMillan/nostril.git
[submodule "nips"]
	path = nips
	url = https://github.com/RandyMcMillan/nips.git
